
 #mycontainer
 {
   min-height:670px;
 }
 #header
 {
   min-height:150px;
   background-color:#BFDB39;
   color:#f16121;
   
 }
  #header h4
 {
   
   color:white;
   
 }
 #nav
 {
   min-height:50px;
   background-color:lightcyan;
   
 }
 #menuul
 {
 }
 #menuul li
 {
   font-weight:bold;
   font-size:20px;
   margin:5px 20px 5px 100px;
 }
 #menuul li a
 {
   color:black;
   text-decoration:none;
 }
 #menuul li a:hover
 {

   background-color:#f16121;
   color:white;
 }
 #content
 {
   min-height:380px;
 }
 #footer
 {
   min-height:80px;
   background-color:orange;
 }
 #mybtn a
 {
	font-weight:bold;
        color:#333;
	
 }
 #mybadge
 {
	font-weight:bold;
	color:white;
	background-color:red;
 }
 #signoutbtn
 {
   font-weight:bold;
    width: 15%;
    
    color: white;
   font-size:20px;
   margin:5px 20px 5px 80px;
 }
 #obtn
 {
   font-weight:bold;
    width: 40%;
    
    color: white;
   font-size:20px;
   margin:5px 20px 5px 20px;
   
 }
 #mybtn7
 {
   font-weight:bold;
    width: 90%;
    
    color: white;
   font-size:20px;
   margin:5px 20px 5px 20px;
   
 }
 #qtb
 {
    width: 15%;
 }
 .form-left-to-w3l input[type="text"], .form-left-to-w3l input[type="password"], .form-right-w3ls input[type="password"], .form-right-w3ls input[type="email"] {
width: 100%;
color: #000;
outline: none;
font-size: 14px;
padding: 1em 0em;
margin: 0px 0px 20px;
border: none;
border-bottom: 1px solid #000;
-webkit-appearance: none;
display: inline-block;
background: transparent;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
box-sizing: border-box;
}
.btnn {
text-align: left;
}
button[type=submit] {
width:40%;
background:#9acd32;
outline: none;
color: #fff;
font-size: 15px;
font-weight: 400;
border: none;
padding:15px 10px;
letter-spacing: 1px;
text-transform: uppercase;
cursor: pointer;
transition: 0.5s all;
margin: 20px 0px 0px;
-webkit-transition: 0.5s all;
-o-transition: 0.5s all;
-moz-transition: 0.5s all;
-ms-transition: 0.5s all;
}
 #menuulcust
 {
 }
 #menuulcust li
 {
   font-weight:bold;
   font-size:20px;
   margin:5px 20px 5px 30px;
 }
 #menuulcust li a
 {
   color:black;
   text-decoration:none;
 }
 #menuulcust li a:hover
 {

   background-color:#f16121;
   color:white;
 }
#lab
 {
   font-weight:bold;
   font-size:20px;
   
 }